.btn {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 0;
    @include fz(10)
    font-weight: $font-weight;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    background-color: none;
    text-transform: uppercase;
    
    &__lr {
        position: relative;
        display: inline-block;
        padding: 15px;
        margin-bottom: 0;
        width: 100%;
        font-weight: $font-weight;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        user-select: none;
        background-image: none;
        background-color: none;
        text-transform: uppercase;
    }
}