html {
    min-height: 100%;
    height: 100%;
    font-weight: $font-weight;
    font-size: $font-size / 16 * 100 + %;
    font-family: $font_base;
    line-height: $line-height / $font-size;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    min-height: 100%;
    height: 100%;
    color: $color_text;
    background-color: #e5d8c7;
    background-image: url(./../img/style/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top, center;
}

* {
    box-sizing: border-box;
}

[role="button"] {
    cursor: pointer;
}

.hidden {
    display: none;
}

a {
    color: #000;
    text-decoration: underline;
    text-decoration-color: #b3a89a;
}

a:visited {
    color: #000;
}

a:active {
    color: #000;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_base;
    font-weight: 100;
}

h1 {
    @include fz(48);
}

h2 {
    @include fz(42);
}

h3 {
    @include fz(36);
}

h4 {
    @include fz(30);
}

h5 {
    @include fz(24);
}

h6 {
    @include fz(18);
}

img {
    display: block;
}