//Fonts
$font-weight: normal;
$font-size: 11;
$font_base: 'HelveticaNeueCyr', Arial, sans-serif;
$font_footer: Arial, sans-serif;
$line-height: 18;

//Colors
$color_text: #000;
$color_link: #e9cb5f;
$color_active: #e9cb5f;
$color_visited: #e9cb5f;
$color_hover: #d1b655;