.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    transition: opacity 200ms ease-in;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    display: none;
    pointer-events: none;

    &:target {
	display: block;
	pointer-events: auto;
    }
    
    &__dialog {
        position: relative;
        width: auto;
        margin: 10px;
        
        @media (min-width: 576px) {
            max-width: 500px;
            margin: 30px auto;
        }
    }
    
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 1px;
        outline: 0;
        text-transform: uppercase;
        
        @media (min-width: 768px) {
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
        }
    }
    
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 1px solid #c0b3a0;
    }
    
    &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 15px;
        border-bottom: 1px solid #c0b3a0;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5;
        text-transform: none;
    }
    
    &__close {
        float: right;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        text-decoration: none;
        
        &:focus, &:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            opacity: .75;
        }
    }
    
    &__body {
        position: relative;
        flex: 1 1 auto;
        padding: 15px;
        overflow: auto;
    }
    
    &__form-fieldset {
        border: 1px solid #c0b3a0;
        border-radius: 1px;
    }
    
    &__form-input {
        width: 100%; 
        max-width: 100%;
        padding: 15px 10px;
        
    }
    
    &__form-btn {
        margin-top: 17px;
        background-color: $color_link;
        border: 1px solid #d1b655;
        border-radius: 1px;
        
        &:hover {
            background-color: $color_hover;
        }
    }
}
