.footer {
    margin-top: 8px;
    border-top: 4px solid #965347;
    background-image: url(./../img/style/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top, center;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-top: 42px;
        margin-bottom: 49px;
        
        @media screen and (max-width: 365px) {
            flex-direction: column;
        }
    }

    &__menu {
        margin-top: 15px;
        flex-grow: 1;
    }

    &__menu-inner {
        list-style: none;
        text-transform: uppercase;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__menu-item{
        padding-bottom: 20px;
        padding-right: 30px;
    }

    &__menu-link{
        color: #000;
        font-weight: 600; 
    }
}

.footer-copy, .footer-contact {
    flex-grow: 1;
}

.footer-share {
    flex-grow: 2;
}

.footer-copy {
    &__inner {
        font-family: $font_footer;
        color: #6f675c;
    }
}

.footer-contact {
    
    &__phone {
        margin-top: 9px;
    }
        
    &__tel {
        
        a {
            @include fz(17);
            font-weight: bold;
        }
    }
    
    &__adr {
        font-family: $font_footer;
        color: #6f675c;
    }
    
    &__email{
        margin: 0;
        font-family: $font_footer;
    }
}

.footer-share {
    &__item {
        font-family: $font_footer;
        font-weight: 600;
        color: #6f675c;
    }
}