.header {
    position: relative;
    margin-top: 8px;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #965347;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 53px;
        margin-bottom: 35px;
        
        @media screen and (max-width: 808px) {
            margin-top: 25px;
            margin-bottom: 5px;
        }
        
        @media screen and (max-width: 365px) {
            flex-direction: column;
        }
    }

    &__menu-inner {
        column-count: 2;
        list-style: none;
        text-transform: uppercase;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        @media screen and (max-width: 1008px) {
            column-count: 1;
        }
        
        @media screen and (max-width: 808px) {
            align-self: flex-end;
        }
        
        @media screen and (max-width: 365px) {
            margin-top: 25px;
        }
    }

    &__menu-item {
        padding-bottom: 10px;
        padding-right: 30px;
    }

    &__menu-link { 
        font-weight: 600;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 26px;
        width: 26px;
        padding: 8px;
        border-right: 1px solid #d1b655;
    }

}

.header-contact {

    &__phone {
        a {
            @include fz(17);
            font-weight: bold;
        }
    }

    &__tel {
        margin-top: 0;
        line-height: 1;
        
        @media screen and (max-width: 365px) {
            margin-top: 15px;
        }
    }

    &__btn {
        padding: 5px 15px 5px 41px;
        background-color: $color_link;

        &:hover {
            background-color: $color_hover;
        }
    }

}

.header-basket {
    position: relative;
    padding: 12px 33px 12px 16px;
    border: 1px solid #c1b3a0;
    
    @media screen and (max-width: 365px) {
        margin-top: 25px;
    }

    &__icon {
        text-transform: uppercase;
        fill: #c75322;
        margin-right: 9px;
    }

    &__link {
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            color: #c75322;
        }
    }

    &__sum {
        position: absolute;
        top: 9px;
        right: 21px;
        color: #c75322;
        font-weight: 600;
        @include fz(9);
    }

    &__price {
        color: #6f675c;
        margin: 0;
        font-weight: 600;
    }
}
