.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__title {
        margin: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;

        @media screen and (max-width: 830px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__two-column {
        column-count: 2;

        @media screen and (max-width: 420px) {
            column-count: 1;
        }
    }

}

.main-product {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 11px;
    margin: -22px;
    max-width: 644px;

    @media screen and (max-width: 830px) {
        max-width: 622px;
    }

    @media screen and (max-width: 624px) {
        max-width: 422px;
    }

    @media screen and (max-width: 425px) {
        max-width: 222px;
    }

    &__item {
        position: relative;
        height: 178px;
        width: 178px;
        overflow: hidden;
        margin: 11px;
        background-color: rgba(0, 0, 0, 0); 

        &:hover {
            z-index: 20;
            overflow: visible;
            background-color: #fff;
            border-radius: 1px;
        }
    }

    &__image {
        position: relative;
    }

    &__img {
        margin: -22px -22px 0 -22px;
        padding: 22px 22px 0 22px;
        background-color: #fff;
        border-radius: 1px;
    }

    &__price {
        position: absolute;
        left: 5px;
        bottom: 5px;
        padding: 0 20px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        @include fz(18);
        margin: 0;
    }

    &__btn {
        margin: 10px 0;
        padding: 5px 41px 5px 64px;
        background-color: $color_link;

        &:hover {
            background-color: $color_hover;
        }
    }

    &__description {
        z-index: 20;
        text-transform: uppercase;
        margin: 0 -22px -22px -22px;
        padding: 0 22px 22px 22px;
        background-color: #fff;
        border-radius: 1px;
    }
}

.main-fashion {
    align-self: center;
    max-width: 422px;
    padding: 22px;
    margin: -22px;

    @media screen and (max-width: 830px) {
        align-items: center;
        flex-direction: center;
    }

    &__img {
        @media screen and (max-width: 830px) {
            margin-top: 22px;
            max-width: 100%;
            max-height: 100%;
        }

        @media screen and (max-width: 425px) {
            max-width: 178px;
        }
    }
}

.flex-reverse {
    flex-direction: row-reverse;
    
    @media screen and (max-width: 830px) {
        flex-direction: column;
        align-items: center;
    }
}

.flex-reverse .main-product {
    margin: -22px -22px -22px 0;
    
    @media screen and (max-width: 830px) {
        margin: -22px;
    }
}